:root {
    --font-family: 'Segoe UI', system-ui, sans-serif;
}

html {
    font-family: var(--font-family);
}

body {
    margin: 0 auto;
    padding-bottom: 13em;
    max-width: 720px;
    text-align: justify;
    color: #222222;
}

h1 {
    text-align: center;
}

blockquote {
    width: auto;
    border-left: 4px solid #eeeeee;
    padding-left: 24px;
}

#results,
#content {
    text-align: center;
}

#permalink {
    font-size: 16px;
}

#error-results {
    color: #550000;
}

hr {
    margin-top: 3em;
    border: 1px solid #eeeeee;
}

#dance {
    margin-top: 1em;
}

#input-form,
#input-form>* {
    font-size: 16px;
    font-family: var(--font-family);
}

#bpm {
    width: 5em;
}
